<h1>Listing merchants</h1>

<table>
	<thead>
		<tr>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<% @merchants.each do |merchant| %>
		<tr>
			<td><%= link_to 'Show', [:api,:v1,merchant] %></td>
			<td><%= link_to 'Edit', edit_api_v1_merchant_path(merchant) %></td>
			<td><%= link_to 'Destroy', [:api,:v1,merchant], method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<br>

<%= link_to 'New Merchant', new_api_v1_merchant_path %>
